.header {
  max-width: 1440px;
  height: 91px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: left;
}

.small-img {
  width: 20vw;
  max-width: 178px;
  height: auto;
  margin-left: 23px;
}

@media (max-width: 1240px) {
  .small-img {
    max-width: 140px;
  }
}

.navLinks {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
