.header {
  width: 1440px;
  height: 91px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: left;
}

.small-img {
  max-width: 178px;
  height: auto;
  margin-left: 23px;
}

.navLinks {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
