.aside_left {
  background-color: black;

  max-height: 970px;
  width: 117px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  vertical-align: middle;
}

.vide {
  height: 258px;
}

.elements {
  display: flex;
  flex-wrap: wrap;
  height: 275px;
  justify-content: center;
}

.copyright {
  height: 340px;
  color: #fff;
  font-size: 12px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-right: 45%;
}

.xsmall-img {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}
